langchain
langgraph
langsmith
python-dotenv
langchain-groq
langchain_tavily
sentence-transformers
streamlit
mysql-connector-python
langchain-community
langchain-huggingface 
numpy
pandas
scipy
scikit-learn 
faiss-cpu